* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --selected: #EB2D2D;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;


    .container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        overflow-x: hidden;
    }
}

.flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bread pre {
    font-size: 1.1rem;

    &:last-of-type {
        color: red;
    }
}

.bread {
    text-align: center;
}

.bread pre a,
.bread pre span {
    text-decoration: none;
    color: black;
}