*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

:root{
    --selected: #EB2D2D;
}