header {
    padding: 1.1rem 2% 2.5rem 2%;
    height: 8.1rem;
}

header nav.desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 0.8rem;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    display: inline-block;
    padding-left: 4rem;

}

header nav.desktop ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;

    &:hover {
        color: var(--selected);
    }
}