@media screen and (max-width:1024px) {
    section.banner .text-banner {
        padding: 6.2rem;
    }
}

@media screen and (max-width: 970px) {

    section.servicesDescription.container.flexCenter .descriptionOne {
        flex-direction: column;
        align-items: center;
    }

    header nav.desktop ul li,
    footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
        padding-left: 3rem;
    }
}


@media screen and (max-width: 768px) {
    section.banner {
        height: 100vw;
        min-height: unset;
        max-height: 50rem;
    }

    section.contact.container form.flexCenter input[type=text],
    section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
    section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
        width: 100%;
        margin: 1.2rem 2%;
    }

    section.contact.container form.flexCenter .flexRow {
        width: 100%;
    }

    section.contact.container form.flexCenter .flexRow.flexCenter {
        justify-content: center;
        flex-direction: column;
    }

    section.contact.container form.flexCenter textarea {
        width: 100%;
    }

    header nav.desktop ul li,
    footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
        padding-left: 2rem;
    }

}

@media screen and (max-width: 680px) {
    header nav.desktop {
        display: none;
    }

    header nav.mobile {
        display: block;
    }

    section.featuredVehicles .featuredShowcase.flexCenter {
        flex-direction: column;
    }

    section.featuredVehicles .featuredShowcase.flexCenter .carBox {
        margin: 0 0.3rem 2.5rem 0.3rem;
        text-align: center;
        width: 80%;

    }

    section.featuredVehicles .featuredShowcase.flexCenter .carBox h2 {
        text-align: center;
    }

    section.servicesDescription.container.flexCenter {
        flex-direction: column;
    }

    section.servicesDescription.container.flexCenter .descriptionOne,
    section.servicesDescription.container.flexCenter .descriptionTwo {
        width: 100%;
    }

    section.servicesDescription.container.flexCenter .descriptionOne .descriptionOnePartOne {
        padding-right: unset;
    }

    header nav.desktop ul li,
    footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
        padding-left: 1rem;
    }

}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    section.featuredVehicles .featuredShowcase.flexCenter .carBox {
        width: 100%;

    }



}

@media screen and (max-width:320px) {
    section.banner {
        height: 110vw;
    }


    section.banner .text-banner {
        padding: 2.5rem 4.5rem;
    }

    footer.flexCenter {
        flex-direction: column;
    }

    footer.flexCenter.footerPage div.footerOne {
        width: 100%;
    }

    footer.flexCenter.footerPage div.footerOne nav.desktop {
        justify-content: center;
    }

    footer.flexCenter.footerPage div.footerTwo p {
        text-align: center;
        margin-top: 0.5rem;
    }
}