section.banner {
    width: 100%;
    height: 600px;
    min-height: 37.5rem;
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

section.banner .text-banner {
    padding: 6.2rem 6.2rem 6.2rem 15rem;
    display: inline-block;

}

section.banner .text-banner-single {
    width: 19.6rem;
    height: 5rem;
    margin-top: 1rem;
    background-image: url(../imagens/box-text.png);
    background-size: 100% 100%;
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    padding: 1.5rem 1.4rem;
    text-transform: uppercase;


    &:nth-of-type(2) {
        width: 15.5rem;
        position: relative;
        left: -0.7rem;
    }

    &:nth-of-type(3) {
        width: 10.5rem;
        position: relative;
        left: -1.2rem;
    }

    &:nth-of-type(4) {
        width: 20rem;
        position: relative;
        background-image: url(../imagens/box-white-text.png);
        color: black;
        left: -2rem;
    }
}

section.featuredVehicles,
section.sell {
    padding: 5.6rem 2%;
}

section.featuredVehicles>.flexCenter,
section.sell.container>.flexCenter {
    justify-content: center;
    width: 100%;
}

section.featuredVehicles h2,
section.contact.container .flexCenter h2,
section.sell.container .flexCenter h2,
section.sell.container section.searchValor h2,
section.infoCar.flexCenter.container .carDescription h2,
section.aboutImgOne.container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
}

section.featuredVehicles .flexCenter .line-title,
section.contact.container .flexCenter .line-title,
section.sell.container .flexCenter .line-title {
    width: 20%;
    border: 1px solid black;

    &:nth-of-type(1) {
        margin-right: 0.5rem;
    }

    &:nth-of-type(2) {
        margin-left: 0.5rem;

    }
}


section.featuredVehicles .featuredShowcase {
    width: 100%;
    padding: 2.5rem 0;
}

section.featuredVehicles .featuredShowcase.flexCenter {
    justify-content: center;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox {
    margin: 0 0.3rem;
    width: inherit;

}

section.featuredVehicles .featuredShowcase.flexCenter .carBox .carimg {
    background-image: url(../imagens/carro1.jpg);
    width: 100%;
    padding-top: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox h2 {
    text-transform: none;
    font-size: 1.25rem;
    text-align: left;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox p {
    color: #353535;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.sectionButton {
    display: inline-block;
    width: 9.3rem;
    height: 3.1rem;
    line-height: 3.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-style: italic;
    background-color: var(--selected);
    border-bottom: 0.3rem solid #B21E1E;
    border-radius: 1.25rem;
    font-size: 1.1rem;
    cursor: pointer;
}

section.servicesDescription.container {
    margin: unset;
    max-width: unset;
}

section.servicesDescription.container.flexCenter {
    justify-content: unset;
    align-items: unset;

}


section.servicesDescription.container.flexCenter .descriptionOne,
section.servicesDescription.container.flexCenter .descriptionTwo,
footer.flexCenter.footerPage div.footerOne,
footer.flexCenter.footerPage div.footerTwo {
    color: white;
    width: 50%;
    padding: 5.6rem 2%;
}

section.servicesDescription.container.flexCenter .descriptionOne {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.servicesDescription.container.flexCenter .descriptionOne .descriptionOnePartOne {
    padding-right: 3.7rem;
}

section.servicesDescription.container.flexCenter .descriptionOne h2,
section.servicesDescription.container.flexCenter .descriptionTwo h2 {
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;


}

section.servicesDescription.container.flexCenter .descriptionOne ul {
    list-style-position: inside;
    margin: 1.2rem 0;
}


section.servicesDescription.container.flexCenter .descriptionTwo {
    background-color: var(--selected);
    text-align: justify;
}


section.servicesDescription.container.flexCenter .descriptionTwo p {
    font-size: 1.3rem;
    padding: 0.6rem 0;
}

section.servicesDescription.container.flexCenter .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.servicesDescription.container.flexCenter .navigation .arrow img {
    padding: 0 0.6rem;
    cursor: pointer;

}

section.servicesDescription.container.flexCenter .navigation h2 {
    color: #252525;
    font-size: 1.8rem;
}

section.contact {
    padding: 5.6rem 2%;
    display: flex;
    flex-direction: column;
}

section.contact.container .flexCenter {
    justify-content: center;
}

section form.flexCenter {
    flex-direction: column;
}

section.contact.container form.flexCenter input[type=text],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
    width: 50%;
    border: 0.1rem solid #ccc;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.2rem;
    padding: 1.5rem 0 1.5rem 0.9rem;
    margin: 1.2rem 0;
    font-size: 1rem;
}

section.contact.container form.flexCenter .flexRow {
    width: 50%;
}

section.contact.container form.flexCenter .flexRow.flexCenter {
    justify-content: space-between;
}

section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
    width: 45%;

}

section.contact.container form.flexCenter textarea {
    width: 50%;
    height: 7.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 1.2rem;
    margin: 1.2rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
}

section.sell.container section.flexCenter.flexRow {
    align-items: flex-start;
}

section.sell.container section.mainSell {
    padding: 2.5rem 2%;
    width: 20%;

}

section.sell.container section.mainSell .flexCenter .mainSellOne.flexCenter {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;

}

section.sell.container section.mainSell .flexCenter .mainSellOne.flexCenter input[type=range] {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
}

section.sell.container section.mainSell .mainSellOne.flexCenter div.mainSellOneP.flexCenter {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;

}

section.sell.container section.searchValor h2,
section.aboutImgOne.container h2 {
    text-align: left;
    padding: 1rem 0;

}

section.sell.container section.searchValor form {
    display: flex;
    justify-content: flex-start;

}

section.sell.container section.searchValor form .formOne,
section.sell.container section.searchValor form .formTwo {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.sell.container section.searchValor form .formThree {
    display: none;
}

section.sell.container section.searchValor form .formOne input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
}

section.sell.container section.searchValor form .formTwo {
    width: 50%;
}

section.sell.container section.searchValor form .formTwo label {
    font-size: 1rem;

    &:nth-of-type(1) {
        font-size: 1.1rem;
        font-weight: 300;
        font-style: italic;
        text-transform: uppercase;
    }
}

section.sell.container section.featuredVehicles.container .featuredShowcase.flexCenter {
    flex-wrap: wrap;
}

section.sell.container section.featuredVehicles.container .featuredShowcase.flexCenter .carBox {
    width: 30%;
    margin: 0.8rem;
}

section.infoCar.flexCenter.container {
    width: 100%;
    padding: 5.6rem 2% 1rem 2%;
}

section.infoCar.flexCenter {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    ;
}

section.infoCar.flexCenter.container .infoItem {
    width: 50%;
    height: 600px;
    align-items: center;
}

.infoItem .featuredPhoto {
    width: 100%;
    height: 70%;
    background-image: url(../imagens/carro1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.infoItem .miniWrapper {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.infoItem .arrowLeft,
.infoItem .arrowRight {
    background-image: url(../imagens/arrow-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
}

.infoItem .navGallery {
    width: 100%;
    padding: 0.2%;
    overflow-x: hidden;
}



.infoItem .galleryWrapper {
    width: 200%;
    display: flex;

}

.infoItem .navGallery .miniImg {
    background-image: url(../imagens/carro1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    padding: 6px;
    height: 6rem;
    margin-right: 0.3rem;
    cursor: pointer;

    &:nth-of-type(6) {
        margin: 0;
    }

    &:hover {
        opacity: 0.7;
    }
}

.infoItem .arrowRight {
    background-image: url(../imagens/arrow-right.png);
}

section.infoCar.flexCenter.container .carDescription {
    width: 30%;
    padding: 1.8rem;

}

section.infoCar.flexCenter.container .carDescription h2 {
    text-align: unset;
    font-size: 2rem;
}

section.infoCar.flexCenter.container .carDescription p {
    margin: 1.5rem 0;
    text-align: justify;
}

section.ind.contact.container {
    padding: 0 2% 5.6rem 2%;
}

section.aboutImgOne.container {
    max-width: 52.5rem;
    padding: 0 2% 5.6rem 2%;

}

section.aboutImgOne.container p {
    text-align: justify;

}

section.aboutImgOne.container .figure {
    width: 100%;
    padding-top: 45%;
    border: 0.1rem solid var(--selected);
}

section.aboutImgOne.container .aboutImgWrapper {
    display: flex;
    margin-top: 2rem;
}

section.aboutImgOne.container .aboutImgWrapper .figureTwo {
    width: 100%;
    margin-right: 1rem;
    border: 0.1rem solid var(--selected);
}