section.banner {
    width: 100%;
    height: 600px;
    min-height: 37.5rem;
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

section.banner .text-banner {
    padding: 6.2rem 6.2rem 6.2rem 15rem;
    display: inline-block;

}

section.banner .text-banner-single {
    width: 19.6rem;
    height: 5rem;
    margin-top: 1rem;
    background-image: url(../imagens/box-text.png);
    background-size: 100% 100%;
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    padding: 1.5rem 1.4rem;
    text-transform: uppercase;


    &:nth-of-type(2) {
        width: 15.5rem;
        position: relative;
        left: -0.7rem;
    }

    &:nth-of-type(3) {
        width: 10.5rem;
        position: relative;
        left: -1.2rem;
    }

    &:nth-of-type(4) {
        width: 20rem;
        position: relative;
        background-image: url(../imagens/box-white-text.png);
        color: black;
        left: -2rem;
    }
}

section.featuredVehicles>.flexCenter {
    justify-content: center;
    width: 100%;
}

section.featuredVehicles {
    padding: 5.6rem 2%;
}

section.featuredVehicles h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
}

section.featuredVehicles .line-title {
    width: 20%;
    border: 1px solid black;

    &:nth-of-type(1) {
        margin-right: 0.5rem;
    }

    &:nth-of-type(2) {
        margin-left: 0.5rem;

    }
}


section.featuredVehicles .featuredShowcase {
    width: 100%;
    padding: 2.5rem 0;
}

section.featuredVehicles .featuredShowcase.flexCenter {
    justify-content: center;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox {
    margin: 0 0.3rem;

}

section.featuredVehicles .featuredShowcase.flexCenter .carBox .carimg {
    background-image: url(../imagens/carro1.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox h2 {
    text-transform: none;
    font-size: 1.25rem;
    text-align: left;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox p {
    color: #353535;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox a {
    display: inline-block;
    width: 9.3rem;
    height: 3.1rem;
    line-height: 3.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-style: italic;
    background-color: var(--selected);
    border-bottom: 0.3rem solid #B21E1E;
    border-radius: 1.25rem;
}