* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

html .container,
body .container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --selected: #EB2D2D;
}

header {
  padding: 1.1rem 2% 2.5rem 2%;
  height: 8.1rem;
  border-bottom: 3px solid var(--selected);
}

header nav.desktop,
footer.flexCenter.footerPage div.footerOne nav.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  top: 0.8rem;
}

header nav.desktop ul,
footer.flexCenter.footerPage div.footerOne nav.desktop ul {
  list-style-type: none;
}

header nav.desktop ul li,
footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
  display: inline-block;
  padding-left: 4rem;
}

header nav.desktop ul li:nth-of-type(4),
footer.flexCenter.footerPage div.footerOne nav.desktop ul li:nth-of-type(4) {
  padding-right: 1rem;
}

header nav.desktop ul li a,
footer.flexCenter.footerPage div.footerOne nav.desktop ul li a {
  text-decoration: none;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
}

header nav.desktop ul li a:hover,
footer.flexCenter.footerPage div.footerOne nav.desktop ul li a:hover {
  color: var(--selected);
}

nav.mobile {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url(../imagens/icon_menu.png);
  background-size: 100% 100%;
  cursor: pointer;
}

nav.mobile ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 4px solid var(--selected);
  text-align: center;
  list-style-type: none;
}

header nav.mobile ul li {
  padding: 2rem;
}

nav.mobile li a {
  text-decoration: none;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
}

nav.mobile li a:hover {
  color: var(--selected);
}

section.banner {
  width: 100%;
  height: 600px;
  min-height: 37.5rem;
  background-color: black;
  background-image: url(../imagens/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

section.banner .text-banner {
  padding: 6.2rem 6.2rem 6.2rem 15rem;
  display: inline-block;
}

section.banner .text-banner-single {
  width: 19.6rem;
  height: 5rem;
  margin-top: 1rem;
  background-image: url(../imagens/box-text.png);
  background-size: 100% 100%;
  color: white;
  font-size: 1.4rem;
  font-style: italic;
  padding: 1.5rem 1.4rem;
  text-transform: uppercase;
}

section.banner .text-banner-single:nth-of-type(2) {
  width: 15.5rem;
  position: relative;
  left: -0.7rem;
}

section.banner .text-banner-single:nth-of-type(3) {
  width: 10.5rem;
  position: relative;
  left: -1.2rem;
}

section.banner .text-banner-single:nth-of-type(4) {
  width: 20rem;
  position: relative;
  background-image: url(../imagens/box-white-text.png);
  color: black;
  left: -2rem;
}

section.featuredVehicles,
section.sell {
  padding: 5.6rem 2%;
}

section.featuredVehicles > .flexCenter,
section.sell.container > .flexCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

section.featuredVehicles h2,
section.contact.container .flexCenter h2,
section.sell.container .flexCenter h2 {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  text-transform: uppercase;
}

section.featuredVehicles .flexCenter .line-title,
section.contact.container .flexCenter .line-title,
section.sell.container .flexCenter .line-title {
  width: 20%;
  border: 1px solid black;
}

section.featuredVehicles .flexCenter .line-title:nth-of-type(1),
section.contact.container .flexCenter .line-title:nth-of-type(1),
section.sell.container .flexCenter .line-title:nth-of-type(1) {
  margin-right: 0.5rem;
}

section.featuredVehicles .flexCenter .line-title:nth-of-type(2),
section.contact.container .flexCenter .line-title:nth-of-type(2),
section.sell.container .flexCenter .line-title:nth-of-type(2) {
  margin-left: 0.5rem;
}

section.featuredVehicles .featuredShowcase {
  width: 100%;
  padding: 2.5rem 0;
}

section.featuredVehicles .featuredShowcase.flexCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox {
  margin: 0 0.3rem;
  width: inherit;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox .carimg {
  background-image: url(../imagens/carro1.jpg);
  background-size: cover;
  width: 100%;
  padding-top: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox h2 {
  text-transform: none;
  font-size: 1.25rem;
  text-align: left;
}

section.featuredVehicles .featuredShowcase.flexCenter .carBox p {
  color: #353535;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.sectionButton {
  display: inline-block;
  width: 9.3rem;
  height: 3.1rem;
  line-height: 3.1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-style: italic;
  background-color: var(--selected);
  border-bottom: 0.3rem solid #B21E1E;
  border-radius: 1.25rem;
  font-size: 1.1rem;
  cursor: pointer;
}

section.servicesDescription.container {
  margin: unset;
  max-width: unset;
}

section.servicesDescription.container.flexCenter {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

section.servicesDescription.container.flexCenter .descriptionOne,
section.servicesDescription.container.flexCenter .descriptionTwo,
footer.flexCenter.footerPage div.footerOne,
footer.flexCenter.footerPage div.footerTwo {
  color: white;
  width: 50%;
  padding: 5.6rem 2%;
}

section.servicesDescription.container.flexCenter .descriptionOne {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.servicesDescription.container.flexCenter .descriptionOne .descriptionOnePartOne {
  padding-right: 3.7rem;
}

section.servicesDescription.container.flexCenter .descriptionOne h2,
section.servicesDescription.container.flexCenter .descriptionTwo h2 {
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
}

section.servicesDescription.container.flexCenter .descriptionOne ul {
  list-style-position: inside;
  margin: 1.2rem 0;
}

section.servicesDescription.container.flexCenter .descriptionTwo {
  background-color: var(--selected);
  text-align: justify;
}

section.servicesDescription.container.flexCenter .descriptionTwo p {
  font-size: 1.3rem;
  padding: 0.6rem 0;
}

section.servicesDescription.container.flexCenter .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.servicesDescription.container.flexCenter .navigation .arrow img {
  padding: 0 0.6rem;
  cursor: pointer;
}

section.servicesDescription.container.flexCenter .navigation h2 {
  color: #252525;
  font-size: 1.8rem;
}

section.contact {
  padding: 5.6rem 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact.container .flexCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section form.flexCenter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact.container form.flexCenter input[type=text],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
  width: 50%;
  border: 0.1rem solid #ccc;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.2rem;
  padding: 1.5rem 0 1.5rem 0.9rem;
  margin: 1.2rem 0;
  font-size: 1rem;
}

section.contact.container form.flexCenter .flexRow {
  width: 50%;
}

section.contact.container form.flexCenter .flexRow.flexCenter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
  width: 45%;
}

section.contact.container form.flexCenter textarea {
  width: 50%;
  height: 7.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 1.2rem;
  margin: 1.2rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
}

section.sell.container section.mainSell {
  padding: 2.5rem 2%;
}

@media screen and (max-width: 1024px) {
  section.banner .text-banner {
    padding: 6.2rem;
  }
}

@media screen and (max-width: 970px) {
  section.servicesDescription.container.flexCenter .descriptionOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav.desktop ul li,
  footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 768px) {
  section.banner {
    height: 100vw;
    min-height: unset;
    max-height: 50rem;
  }
  section.contact.container form.flexCenter input[type=text],
  section.contact.container form.flexCenter .flexRow.flexCenter input[type=email],
  section.contact.container form.flexCenter .flexRow.flexCenter input[type=tel] {
    width: 100%;
    margin: 1.2rem 2%;
  }
  section.contact.container form.flexCenter .flexRow {
    width: 100%;
  }
  section.contact.container form.flexCenter .flexRow.flexCenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contact.container form.flexCenter textarea {
    width: 100%;
  }
  header nav.desktop ul li,
  footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 680px) {
  header nav.desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
  }
  section.featuredVehicles .featuredShowcase.flexCenter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.featuredVehicles .featuredShowcase.flexCenter .carBox {
    margin: 0 0.3rem 2.5rem 0.3rem;
    text-align: center;
    width: 80%;
  }
  section.featuredVehicles .featuredShowcase.flexCenter .carBox h2 {
    text-align: center;
  }
  section.servicesDescription.container.flexCenter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.servicesDescription.container.flexCenter .descriptionOne,
  section.servicesDescription.container.flexCenter .descriptionTwo {
    width: 100%;
  }
  section.servicesDescription.container.flexCenter .descriptionOne .descriptionOnePartOne {
    padding-right: unset;
  }
  header nav.desktop ul li,
  footer.flexCenter.footerPage div.footerOne nav.desktop ul li {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  section.featuredVehicles .featuredShowcase.flexCenter .carBox {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  section.banner {
    height: 110vw;
  }
  section.banner .text-banner {
    padding: 2.5rem 4.5rem;
  }
  footer.flexCenter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.flexCenter.footerPage div.footerOne {
    width: 100%;
  }
  footer.flexCenter.footerPage div.footerOne nav.desktop {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.flexCenter.footerPage div.footerTwo p {
    text-align: center;
    margin-top: 0.5rem;
  }
}

footer.flexCenter {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer.footerPage {
  background-color: #252525;
  padding: 2.5rem 2%;
  width: 100%;
  height: 8.1rem;
}

footer.flexCenter.footerPage div.footerOne,
footer.flexCenter.footerPage div.footerTwo {
  padding: 0 2%;
}

footer.flexCenter.footerPage div.footerOne nav.desktop {
  position: unset;
}

footer.flexCenter.footerPage div.footerOne nav.desktop ul li a,
footer.flexCenter.footerPage div.footerTwo p {
  color: white;
  font-size: 1.1rem;
  font-style: italic;
}

footer.flexCenter.footerPage div.footerTwo {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */